body{
    margin: 0;
    padding: 0;
    background-color: rgba(48, 155, 6, 0.74);
    text-align: center;
}

#registrationBody{
    background-color: rgba(189, 192, 11, 0.726);
}

section{
    border: 1px solid black;
    margin: 5px;
    height: 100px;
}

#demoInstructions{
    margin: auto;
    width: 25%;

}

ul {
    text-align: left;
}