body{
    box-sizing: border-box;
    background: url( '../images/large_dojo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    Font-Family: 'Roboto', Sans-Serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
 
#loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgb(224, 223, 127);
}
 
#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #25a105; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: -60px;
    margin-top: -60px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.headerInfo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#buttonBackground{
    position: absolute;
    top: 0px;
    margin: 0;
    background-color: black;
    width: 100%;
    padding: 10px;
}
#showInstructionsBtn, #logOutBtn{
    background-color: white;
    margin: auto; 
}

#spacer{
    display: inline-block;
    width: 5%;
}

#showInstructionsBtn:hover{
    color:black;
    background-color: yellow;
    cursor: pointer;
}

#logOutBtn:hover{
    background-color: yellow;
    cursor: pointer;
}

#userHolder{
    width: 100%;
}

#userName{
    background-color: rgba(255, 255, 255, 0.63);
    width: 50%;
    padding: 7px;
    font-size: 2.5em;
    border-radius: 9px;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 25px;
}

#beltDiv {
    background-color: white;
    width: 100%;
    margin: 10px auto 10px auto;
    padding: 10px 0 10px 0;
    text-align: center;
}

#beltText{
    width: 85%;
    margin: auto;
}

#outerDeskShell{
    display: none;
}

#deskTrainingTypeFormat{
    display: none;
}

#mobileTrainingTypeFormat{
    width: 60%;
    border: 1px solid grey;
    margin: 10px auto 10px;
}

#js-startExercise:hover{
    background-color: yellow;
    cursor: pointer;
}

.spaceSection{
    margin: 10px;
}

.instructionFormat{
    display: inline-block;
    margin: 5px auto;
}

.js-inputBox{
    font-size: 1.25em;
}

.record{
    display: inline-block;
    width: 100%;
}

.division{
    width: 48%;
    height: 100px;
}

#js-practiceType{
    height: 25px;
    
}
#js-practiceType:hover{
    background-color: yellow;
    cursor: pointer;
}

#js-deskTopPastPractices{
    display: none;
}

#js-operationType:hover{
    background-color: yellow;
    cursor: pointer;
}

#js-maxRange:hover, #js-minRange:hover{
    background-color:  rgba(255, 102, 0, 0.63); 
}

#js-mobileMinRange:hover, #js-mobileMaxRange:hover{
    background-color: rgba(255, 102, 0, 0.63);
}

#numberRange{
    display: none;
}

#mobileNumberRange{
    display: block;
}

#js-mobileMinRange{
    width: 30%;
    text-align: center;
}

#js-mobileMaxRange{
    width: 30%;
    text-align: center;
}

#recordOfTraining{
    background-color: rgba(56, 54, 54, 0.616);
    border-radius: 5px;
    width: 85%;
    margin: 20px auto 20px;
    padding: 10px;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: white;
    cursor: pointer;
}

.js-pastRecord{
    margin: 10px;
}

.lowPerformance{
    color: red;
}

.middlePerformance{
    color: yellow;
}
.highPerformance{
    color: rgb(3, 245, 3);
}
 
@media only screen and (min-width: 760px){
    #mobileNumberRange{
        display: none;
    }
    #numberRange{
        display: block;
    }
   
    #mobileTrainingTypeFormat{
        display: none;
    }
        
    #beltText{
        width: 100%;
    }


    #outerDeskShell{
        position: relative;
        display: block;
        width: 100%;
    }

    #outerTrainingWrapper{
        width: 100%;
    }
    #trainingTypeWrapper{
        background-color: rgba(255, 255, 255, 0.63);
        width: 15%;
        padding: 15px;
        border-radius: 9px;
        margin: 15px auto 15px auto;

    }

    #outerDetailsWrapper{
        width: 100%;
    }
    #detailsWrapper{
        background-color: rgba(255, 255, 255, 0.63);
        width: 45%;
        padding: 15px;
        border-radius: 9px;
        margin: 15px auto 15px auto;
    }



    #deskTrainingTypeFormat{
        display: inline-block;
        width: 100%;
    }
    .deskImage{
        width: 15%;
        height: 250px;
    }
    

    #js-deskTopPastPractices{
        display: block;
    }

    #js-lowPerformance{
        display: inline-block;
        width: 32%;
    }

    #js-midPerformance{
        display: inline-block;
        width: 32%;
    }

    #js-highPerformance{
        display: inline-block;
        width: 32%;
    }

    #js-pastPractices{
        display: none;
    }
}
