body{
    box-sizing: border-box;
    background: url( '../images/large_dojo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    Font-Family: 'Roboto', Sans-Serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
 
#loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #0CCC50;
}
 
#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #25a105; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: -60px;
    margin-top: -60px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: white;
    cursor: pointer;
}

.headerInfo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#buttonBackground{
    position: absolute;
    top: 0px;
    margin: 0;
    background-color: black;
    text-align: right;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
#showInstructionsBtn, #logOutBtn{
    background-color: inherit;
    color: white;
    border: 1px solid transparent;
}

#showInstructionsBtn:hover{
    color:black;
    background-color: yellow;
    cursor: pointer;
}

#logOutBtn:hover{
    color: black;
    background-color: yellow;
    cursor: pointer;
}

#userHolder{
    width: 100%;
}

#userName{
    background-color: rgba(255, 255, 255, 0.63);
    width: 30%;
    padding: 7px;
    font-size: 2.5em;
    border-radius: 9px;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 3%;
}

#beltDiv {
    background-color: white;
    width: 100%;
    border-radius: 9px;
    margin: 10px auto 10px auto;
    padding: 0px;
    text-align: center;
}

#beltText{
    width: 85%;
    margin: auto;
    padding: 2px;
}

#trainingTitle{
    margin: 0px;
}

#outerDeskShell{
    display: none;
}

.deskTrainingTypeFormat{
    display: none;
}

#mobileTrainingTypeFormat{
    width: 60%;
    border: 1px solid grey;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.63);
    margin: 10px auto 10px;
}

#js-startExercise{
    background-color: rgb( 178, 7, 0);
    width: 25%;
    font-size: 1.1em;
    border-radius: 7px;
}

#js-startExercise:hover{
    background-color: #FF2219;
    cursor: pointer;
}

.spaceSection{
    margin: 10px;
}

.instructionFormat{
    display: inline-block;
    margin: 5px auto;
}

.record{
    display: inline-block;
    width: 100%;
}

.division{
    width: 48%;
    height: 100px;
}

.js-inputBox{
    text-align: center;
    color: grey;
    font-size: 1.1em;
}

.js-inputBox:focus{
    color: black;
}

#js-practiceType{
    height: 25px;
}

#js-practiceType:hover{
    cursor: pointer;
}

#js-deskTopPastPractices{
    display: none;
}

#js-operationType:hover{
    cursor: pointer;
}

#numberRange{
    display: none;
}

#mobileNumberRange{
    display: block;
}

#detailsWrapper{
    min-width: 140px; 
    background-color: rgba(255, 255, 255, 0.63);
    width: 45%;
    padding: 15px;
    border-radius: 9px;
    margin: 15px auto 15px auto;
}


#formatLowerItems{
    min-width: 300px;
    background-color: rgba(255, 255, 255, 0.63);
    width: 30%;
    padding: 15px;
    border-radius: 9px;
    margin: 0px auto 15px auto;
}


#js-mobileMinRange{
    width: 30%;
    text-align: center;
}

#js-mobileMaxRange{
    width: 30%;
    text-align: center;
}

#recordOfTraining{
    background-color: rgba(56, 54, 54, 0.616);
    border-radius: 5px;
    width: 85%;
    margin: 20px auto 20px;
    padding: 10px;
}
.js-pastRecord{
    margin: 10px;
}

.lowPerformance{
    color: red;
}

.middlePerformance{
    color: yellow;
}
.highPerformance{
    color: rgb(3, 245, 3);
}
 
@media only screen and (min-width: 760px){
    #userName{
        margin-top: 6%;
    }
   
    #mobileNumberRange{
        display: none;
    }
    #numberRange{
        display: block;
    }
   
    #mobileTrainingTypeFormat{
        display: none;
    }
        
    #beltText{
        width: 100%;
    }

    .deskTrainingTypeFormat{
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
    }

    .deskImage{
        width: 15%;
        height: 250px;
        box-sizing: border-box;
    }

    img:hover{
        border: 3px solid yellow;
    }

    img.active{
        border: 3px solid yellow;
    }

    #outerDeskShell{
        position: relative;
        display: block;
        width: 100%;
    }

    #outerTrainingWrapper{
        width: 100%;
    }

    #trainingTypeWrapper{
        width: 45%;
        padding: 15px;
        border-radius: 9px;
        margin: 15px auto 0px auto;
    }

    #outerDetailsWrapper{
        width: 100%;
    }

    .instructionFormat{
        font-size: 1.5em;
    }

    #js-operationType{
        font-size: 1.3em;
    }

    #detailsWrapper{
        background-color: rgba(255, 255, 255, 0.63);
        width: 25%;
        padding: 15px;
        border-radius: 9px;
        margin: 15px auto 15px auto;
    }

    #js-deskTopPastPractices{
        display: block;
    }

    #js-lowPerformance{
        vertical-align: top;
        display: inline-block;
        width: 32%;
    }

    #js-midPerformance{
        vertical-align: top;
        display: inline-block;
        width: 32%;
    }

    #js-highPerformance{
        vertical-align: top;
        display: inline-block;
        width: 32%;
    }

    #js-pastPractices{
        display: none;
    }
}
