body{
    margin: 0;
    padding: 0;
    background-color: #0CCC50;
    text-align: center;
}

#loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #0CCC50;
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #25a105; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: -60px;
    margin-top: -60px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.largeText{
    Font-Family: 'Raleway', Sans-Serif;
}

.midText{
    Font-Family: 'Roboto', Sans-Serif;
    font-size: 1.25em;
    margin: 10px;
}

.smallText{
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 1em;
}

#logIn{
    background-color: #35CB6B;
}

#logIn:hover{
    background-color: #FF2219;
    color: white;
    cursor: pointer;
}

#images{
    width: 100%;
}

#loginImage{
    display: none;
    width: 100%;
}


#registrationBody{
    background-color: #0CCC50;
}

#registration{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

#mobileHeader{
    display: block;
    background-color: #2E7F4B;
    padding: 2px;
    border-radius: 15px;
    width: 50%;
    margin: auto;
    margin-top: 3%;
    font-size: 1.75em;
    font-weight: bold;
}
#header{
    display: none;
    background-color: #2E7F4B;
    padding: 2px;
    border-radius: 15px;
    width: 30%;
    margin: auto;
    margin-top: 3%;
    font-size: 1.75em;
    font-weight: bold;
}
 
h4{
    margin: 10px;
}

h5{
    font-size: 1.5em;
}

a{
    text-decoration: none;
}

a:visited{
    color: black;
}

a:hover{
    color: white;
    cursor: pointer;
}


#innerText{
    margin: auto;
    margin-top: 3%;
    padding: 10px;
    width: 85%;
    border-radius: 25px;
    background-color: #2E7F4B;
}

.inputEntries{
    background-color: #35CB6B;
}

#instructionsBtn{
    background-color: rgb(178, 7, 0);
    padding: 4px;
}

#instructionsBtn:hover{
    background-color: #FF2219;
    cursor: pointer;
}

#demoInstructions{
    margin: auto;
}


#sendRegistration{
    background-color: #35CB6B;
    display: inline-block;
    border-radius: 3px;
    margin: 10px;
}

#sendRegistration:hover{
    background-color: #FF2219;
    cursor: pointer; 
}

ul {
    text-align: left;
    margin-left: 9%;
}

.invisible{
    display:none;
}
 

@media only screen and ( min-width: 760px ) {
    #loginImage{
        display: block;
    }


    #innerText{
        width: 30%;
    }
    #mobileHeader{
        display: none;
    }

    #header{
        display: block;
    }

    ul{
        margin-left: 17%;
    }
}