body{
    background-color: rgba(4, 12, 0, 0.74);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#js-sessionTitleInformation{
    margin-top: 5%;
}

#returnDash:hover{
    background-color: yellow;
    cursor: pointer;
}
.standardResponse{
    color: black;
}

.correctResponse{
    color: blue;
}

.incorrectResponse{
    color: red;
}

.informCorrect{
    color: white;
}

#loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #0CCC50;
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #25a105; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: -60px;
    margin-top: -60px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

