body{
    background-color: rgba(224, 223, 127, 0.87);
    Font-Family: 'Roboto', Sans-Serif;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logOutBtn:hover{
    background-color: yellow;
}
#beltDiv {
    background-color: white;
    width: 100%;
    padding: 5px 0 5px 0;
}

#outerImageShell{
    width: 100%;
    text-align: center;
}

#innerImageShell{
    margin: 10px auto 10px auto;
    width: 25%;

}

#trainingImage{
    width: 100%;
    border-radius: 50px;
}

#returnDash{
    margin: 10px;
    border-radius: 7px;
}

#returnDash:hover{
    background-color: red;
    color: white;
}

#submitAnswerBtn{
    border-radius: 5px;
}

#submitAnswerBtn:hover{
    background-color: yellow;
}

.headerInfo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.instructionFormat{
    display: inline-block;
    margin: 5px auto;
}

.record{
    display: inline-block;
    width: 100%;
}

.division{
    width: 48%;
    height: 100px;
}

.correct{
    vertical-align: top;
    color: green;
}
 
.incorrect{
    vertical-align: top;
    color: red;
}

.accuracy{
    color: black;
}

#loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgb(224, 223, 127);
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #25a105; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: -60px;
    margin-top: -60px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*desk-top features */
@media only screen and (min-width: 760 ) {
    
}