<! DOCTYPE html >
<meta charset="utf-8">
<html>  
<head>
<title>Grey Login Page</title>
<style>
body{
    background-color: grey;
    text-align: center;
}

section{
    border: 1px solid black;
    margin: 5px;
    height: 100px;
}
</style>

</head>
<body>
<section>
    <span>Instructions</span>
</section>

<section>
    <span>Left Image</span>
</section>
<section>
    <span>Right Image</span>
</section>



<section>
    <h4>Login name input</h4>
    <h4>Login password input</h4>
</section>









    
</body>



</html>