<! DOCTYPE html >
<meta charset="utf-8">
<html>  
<head>
<title>APP_V1 Training Page</title>
<link rel="stylesheet" href="./styles.css" /> 
</head>
<body>
<section>
    <h3>User Name</h3>
    <h3>Current Level</h3>
    <p>Select Type of Practice Session</p>
    <select id="js-practiceType" >  
        <option value="5" >Mouse</option>
        <option value="10" >Dolphin</option>
        <option value="15" >Dog</option>
        <option value="25" >Tiger</option>
        <option value="50" >Eagle</option>
        <option value="100" >Bear</option>
    </select>
    <button id="js-startExercise" >Begin</button>
</section>

<section>
    <h3 id="js-displayQuestion" >Current Question</h3>
    <input id="js-userResponse" type="text" value="Enter Answer" />
    <p>If an incorrect response show the equation in red with a correct response beneath</p>
</section>

<section class="record">
    <h4>Current Questions by Accuracy</h4>
    <section class="record division incorrect" id="incorrectResponses"  ><span class="accuracy">Red</span></section>
    <section class="record division correct" id="correctResponses"  ><span class="accuracy">Green</span></section>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./logic.js" ></script>    
</body>
</html>